# ==========================================
# RECYCLING SORTER BAND - .GITIGNORE
# ==========================================

# --- Python & YOLOv8 (Raspberry Pi) ---
__pycache__/
*.py[codz]
*$py.class
.venv/
venv/
ENV/
.env
pip-log.txt
.pytest_cache/
tempCodeRunnerFile.py
# YOLO Ağırlık ve Log Dosyaları (Github'ı şişirmesin)
*.pt
runs/
yolov8n.pt

# --- C/C++ & STM32 (Gömülü Sistem) ---
Debug/
Release/
*.o
*.elf
*.bin
*.hex
*.map
*.lst
.mxproject
*.su

# --- Nextion HMI ---
# Derlenmiş ağır ekran çıktılarını engeller
*.tft 

# --- Mekanik / Tasarım Çöpleri ---
# SolidWorks ve diğer CAD programlarının geçici dosyaları
*.bak
~$*
*.tmp

# --- İşletim Sistemi Çöpleri ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- IDE ve Editörler ---
.vscode/
.idea/
*.swp
